@import '../../styles/variables.scss';

.main {
    width: min(1240px, 100% - 40px);
    height: 100%;
    margin-top: 44px;
    margin-inline: auto;

    &.dark_theme {
        background-color: $primary-black;
    }
}