@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body[data-theme='light'] {
  background-color: $primary-white;
  color: $primary-black;
  // transition: background-color 0.45s, color 0.45s;
}

body[data-theme='dark'] {
  background-color: $primary-black;
  color: $primary-white;
}


