@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$primary-white: #ffffff;
$primary-black: #121212;
$primary-light-gray: #dedede;
$primary-dark-gray: #575757;
$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c;
$accent-red: #9b4b4b;
$accent-gold: #ab8956;

$font-cormorant: 'Cormorant SC', serif;
$font-inter: 'Inter', sans-serif;

@mixin heading-h1-medium {
    font-family: $font-cormorant;
    font-size: 16px;
    font-weight: 500;
    // line-height: 19.38px;
    text-transform: uppercase;
}

@mixin heading-h2-medium {
    font-family: $font-cormorant;
    font-size: 14px;
    font-weight: 500;
    // line-height: 14.53px;
    text-transform: uppercase;
}

@mixin paragraph-big-light {
    font-family: $font-inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
}

@mixin paragraph-big-medium {
    @include paragraph-big-light;
    font-weight: 500;
}

@mixin paragraph-base {
    font-family: $font-inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
}

@mixin paragraph-small {
    font-family: $font-inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 16.8px;
}

@mixin caption {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 12px;
    // line-height: 14.52px;
    text-transform: uppercase;
}