@import '../../variables.scss';

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
    justify-content: space-between;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
  }
  
  .skeletonCard {
    padding: 0px 0px 51% 0px;
    position: relative;
    overflow: hidden;

    .skeletonImage {
        background-color: $primary-light-gray;
        width: 100%;
        height: 100%; 
        position: absolute;
        top: 0;
        left: 0;
        animation: pulse 1.5s infinite;

        @keyframes pulse {
            0% {
              background-color: $primary-light-gray;
            }
            50% {
              background-color: $secondary-gray;
            }
            100% {
              background-color: $primary-light-gray;
            }
          }
        
        &.dark_theme {
            background-color: $secondary-gray;
            animation: pulseDark 1.5s infinite;
            
            @keyframes pulseDark {
                0% {
                  background-color: $secondary-gray;
                }
                50% {
                  background-color: $primary-dark-gray;
                }
                100% {
                  background-color:$secondary-gray;
                }
              }
        }
      }
  }