@import '../../styles/variables.scss';

.artCard {
    position: relative;
    padding: 0px 0px 66.5% 0px;
    border: none;
    overflow: hidden;

    &__painting {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        transition: transform 0.5s ease;
    }

    &__paintingInfo {
        width: 76%;
        height: 31.5%;
        border: none;
        background-color: $primary-white;
        position: absolute;
        bottom: 0;

        &__visible, &__hover {
            position: absolute;
            top: 0;
            height: 100%;
            left: 20px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 14%;
            transition: transform 1s ease, opacity 1s ease;

            span.heading {
                @include heading-h1-medium;
                font-size: min(16px, 1.25vw);
                color: $primary-black;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (max-width: 767px) {
                    @include heading-h2-medium;
                    font-size: max(12px, 2.75vw);
                }

                @media ((min-width: 768px) and (max-width: 1023px)) {
                    font-size: max(16px, 2.08vw);
                }
            }

            span.caption {
                @include caption;
                color: $accent-red;
                font-size: min(12px, 0.93vw);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;

                @media (max-width: 767px) {
                    font-size: max(8px, 2.5vw);
                }

                @media ((min-width: 768px) and (max-width: 1023px)) {
                    font-size: max(12px, 1.56vw);
                }
            }

            @media (max-width: 1023px) {
                left: 12px;
            }
        }

        &__hover {
            transform: translateY(100%);
            opacity: 0;
        }

        &.dark_theme {
            background-color: $primary-black;

            span.heading {
                color: $primary-white;
            }

            span.caption {
                color: $accent-gold;
            }
        }

        @media (max-width: 767px) {
            width: 84.2%;
            height: 24.3%;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            width: 82.5%;
            height: 30%;
        }
        
        @media (min-width: 1024px) {
            &::before {
                content: '';
                position: absolute;
                top: 25%;
                height: 50%;
                width: 3px;
                background-color: $accent-red;
            }
        }
    }

    &:hover {
        .artCard__painting {
            transform: scale(1.05);
        }

        .artCard__paintingInfo__visible {
            transform: translateX(-100%);
            opacity: 0;
        }

        .artCard__paintingInfo__hover {
            transform: translateY(0);
            opacity: 1;
        }   
    }
}

@media (min-width: 1024px) {
    .artCard__paintingInfo.dark_theme::before {
        background-color: $accent-gold;
    }
}

