.main__paintings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
    justify-content: space-between;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    &.load {
        opacity: 0.5;
    }
}