@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: $primary-white;
  z-index: 1004;
  // transition: background-color 0.45s ease;

  &.darkTheme {
    background-color: $primary-black;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: min(1240px, 100% - 40px);
    height: 100%;
    margin: 0 auto;
  }

  &__nav__themeToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $secondary-white;
    border: 0px;
    padding: 0;
    cursor: pointer;
    // transition: background-color 0.45s ease;

    &:hover, &:active {
      background-color: $primary-light-gray;
    }

    &.darkBackground {
      background-color: $secondary-black;
    }
  }

  &__nav__logo {
    width: 91px;
    height: auto;
  }

  @media (max-width: 766px) {
    height: 66px;
  }

  @media (max-width: 1023px) {
    height: 88px;
    &__nav__logo {
      width: 73px;
      height: auto;
    }
  }
}
