$header-height: 60px;
$background-color: #fff;
$border-color: #ddd;
$logo-color: #333;
$toggle-color: #333;

.header {
  position: -webkit-sticky; // For Safari
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .logo {
    font-size: 1.5rem;
    color: $logo-color;
  }

  .themeToggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: $toggle-color;
  }
}

#logo {
  width: 91px;
  height: auto;
}

/* Logo for screens wider than 600px */
@media (max-width: 1439px) {
  #logo {
    width: 100px;
    height: auto;
  }
}
